/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', serif;
    background-color: rgb(230, 230, 230);
}

body {
    font-size: 1.2em;
    background-color: rgb(230, 230, 230);
}

header {
    text-align: center;
}

h1 {
    margin: 10px;
    background-color: rgb(230, 230, 230);
}

h2 {
    font-size: 1.5em;
    padding: 3px 0;
    background-color: rgb(230, 230, 230);
}

/* Tabs styling */
.tab {
    overflow: hidden;
    background-color: rgb(230, 230, 230);
}

.tab a {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 1em;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.tab a:hover {
    background-color: #ddd;
}

.tab a.active {
    background-color: #ccc;
}

/* Main content styling */
.container {
    padding: 10px;
    max-width: 1200px;
    margin: auto;
}

.CV {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-image {
    max-width: 100%;
    height: auto;
    margin: 10px;
}

.CV-text {
    margin: 10px;
    text-align: justify;
    max-width: 100%;
}

/* Responsive layout */
@media (min-width: 768px) {
    .CV {
        flex-direction: row;
        justify-content: center;
    }

    .profile-image {
        height: 500px;
        width: auto;
    }

    .CV-text {
        margin-left: 20px;
        width: 50%;
    }
}

footer {
    margin: 10px 0;
    text-align: center;
}

/* Ensures elements scale well on different devices */
img {
    max-width: 100%;
    height: auto;
}
