/* CSS Reset */
* {
    margin: 0;
    font-family: times;
    background-color: rgb(230, 230, 230);
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Ensures vertical alignment */
}

/* CSS for the header */
header {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: 10px;
    background-color: rgb(230, 230, 230);
}

h2 {
    font-size: 1.5em;
    padding: 3px 0;
    background-color: rgb(230, 230, 230);
}

/* Basic styling for tabs */
.tab {
    overflow: hidden;
    background-color: rgb(230, 230, 230); /* Semi-transparent background color for the tabs */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tab a {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 4px 6px;
    transition: 0.3s;
    font-size: 17px;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.tab a:hover {
    background-color: #ddd;
}

.tab a.active {
    background-color: #ccc;
}

.index, .CV, .publications, .outreach, .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 10px;
}

.foto-vitellinus, .profile-image, .image-publications, .image-outreach, .foto-outreach1, .gallery, .contact-image {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.CV-text, .publications, .outreach, .contact-text {
    margin: 10px;
    text-align: justify;
}

.single-line {
    white-space: nowrap;
}

footer {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    background-color: rgb(230, 230, 230);
}

.references {
    margin: 10%;
    margin-top: 2%;
    text-align: justify;
}

/* Media Queries for Responsive Design */
@media (min-width: 600px) {
    .tab a {
        font-size: 18px;
    }

    .profile-image {
        height: 500px;
    }

    .contact-image {
        height: 300px;
    }

    .image-outreach, .foto-outreach1 {
        height: 400px;
    }

    .gallery {
        height: 500px;
    }
}

@media (min-width: 900px) {
    .CV, .publications, .outreach, .contact {
        flex-direction: row;
        text-align: left;
    }

    .CV-text, .publications, .outreach, .contact-text {
        margin: 5%;
    }

    .profile-image, .image-publications, .image-outreach, .foto-outreach1, .contact-image {
        margin: 5%;
    }

    .CV .profile-image, .contact .contact-image {
        margin-right: 10%;
    }
}
